/* Basic styles */
body {
  background-image: url('img/sobre-cep.jpg');
  background-repeat: repeat; 
  background-attachment: fixed; 
  background-size: cover; 
  background-position: center center; 
  font-family: Arial, sans-serif;
  margin: 0;
  
  }
  
  h1 {

    text-align: left;
    margin-bottom: 20px;
    color:aliceblue
  }
  
  /* Form styles */
  form {
    color: black;
    display: flex;
    flex-direction: column;
    width: 400px; /* Adjust width as needed */
    margin: 0 auto; /* Center the form horizontally */
  }
  
  .controle-form {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  
  label {
    flex: 0 0 30%; /* Set label width */
    margin-right: 10px; /* Add space between label and input */
  }
  
  input[type="text"] {
    flex: 1; /* Make input fields fill remaining space */
    padding: 5px;
    border: 1px solid #ccc;
  }
  